.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  align-items: center;
  justify-content: center;
  width: fit-content; /* Full width (cover the whole page) */
  height: fit-content; /* Full height (cover the whole page) */
  padding: 1rem;
  top: 45%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1000; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.show {
  display: flex;
}
